@import url(vendor/stylesheet.css);

:root {
  --font-family: "Futura PT", sans-serif;
  --second-family: "Onest", sans-serif;
  --third-family: "Fira Sans Extra Condensed", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Roboto", sans-serif;
}

.body {
  margin: 0 auto;
  background-color: #f1eff0;
  max-width: 1440px;
  width: 100%;
  color: #000;
}

.container {
  max-width: 1290px;
  margin: 0 75px;
}

.breadcrumbs {
  padding: 24px 0px;
}

.breadcrumbs__ul {
  max-height: 139px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__index {
  font-family: var(--font-family);
  color: #5e43aa;
  text-decoration: none;
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.breadcrumbs__name {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

.breadcrumbs__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

/* сайдбар */
.page {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
}

.sidebar__mobile {
  display: none;
}

.sidebar {
  max-width: 300px;
  max-height: 611px;
  width: 100%;
}

.sidebar__ul {
  margin: 0;
  padding: 0;
}

.sidebar__container {
  max-width: 300px;
  max-height: 46px;
  border-bottom: 1px solid #e2dde0;
  list-style: none;
}

.sidebar__container:hover {
  transform: scale(1.02);
  color: #5e43aa;
}

.sidebar__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #757575;
  margin: 0 0 16px 0;
}

.sidebar__text {
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 0;
  transition: transform 0.2s;
  cursor: pointer;
  color: #10100e;
}

.sidebar__span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #757575;
  margin: 0;
  padding: 0;
}

.sidebar__text:hover {
  transform: scale(1.01);
  color: #5f43aa;
}

.sidebar__background {
  width: 100%;
  height: 343px;
  background: #5f43aa;
  margin-top: 48px;
  overflow: hidden;
  padding: 22px;
  box-sizing: border-box;
}

.sidebar__img {
  padding: 0;
  margin: 12px 0 20px 0;
}

.sidebar__price {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  padding: 0 0 24px 0;
}

.sidebar__button {
  border: 1px solid #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #fff;
  background: #5f43aa;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 14px 33px;
  width: 100%;
}

.sidebar__button:hover {
  transform: scale(1.01);
}

/* карточки с блогом */
.posts {
  margin-left: 30px;
  max-width: 960px;
  width: 100%;
}

.post__flex {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  background: #fff;
  margin-bottom: 16px;
  transition: transform 0.2s;
  position: relative;
  align-items: center;
}

.post__flex:hover {
  transform: scale(1.01);
  color: #fff;
}

.post__category {
  padding: 5px 9px;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  background: #fff5d9;
  text-decoration: none;
  transition: transform 0.2s;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  position: relative;
  z-index: 3;
  max-width: fit-content;
}

.post__category:hover {
  color: #5f43aa;
}

.post__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1f1f1f;
  margin: 12px 0 12px 0;
  padding: 0;
}

.post__subtytle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__subtytle_3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__button {
  border: 1px solid #e2dde0;
  padding: 12px 24px;
  width: 123px;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #5e43aa;
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 5;
  transition: transform 0.2s;
}

.post__button:hover {
  transform: scale(1.01);
}

.auto__img {
  width: 280px;
  height: 240px;
  margin-left: 15px;
}

/* кнопка показать еще */
.post__button_else {
  border: 1px solid #e2dde0;
  padding: 0px 36px;
  width: 100%;
  height: 64px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #5e43aa;
  margin: 0;
  margin-bottom: 24px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__button_else:hover {
  transform: scale(1.01);
}

/* обратная связь */
.feedback {
  margin: 48px 0px;
  background: #e6bc46;
  max-width: 1290px;
}

.feedback__main {
  padding: 48px;
  max-width: 784px;
  width: 100%;
  margin: 0 auto;
}

.feedback__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.feedback__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #1f1f1f;
  margin: 0;
  margin-right: 15px;
}

.feedback__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: flex-end;
  margin-top: 24px;
}

.feedback__container_chexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.input__container {
  max-width: 264px;
}

.input__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin: 0;
  margin-bottom: 4px;
}

.feedback__input {
  padding: 13px 43px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  border: 1px solid #fff;
}

.feedback__input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.input__required {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}

.button__input {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #fff;
  background: #5e43aa;
  border-style: none;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 12px 36px;
}

.button__input:hover {
  transform: scale(1.04);
}

.input__container_button {
  max-width: 223px;
  border-style: none;
}

.checkbox {
  width: 18px;
  height: 18px;
  background: #5f43aa;
  margin: 26px 9px 0 0;
}

.checkbox_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 24px 65px 0 0;
}

.checkbox_text_color {
  font-weight: 500;
  color: #5e43aa;
}

.blog__info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

/* вторая страница */

.main {
  max-width: 1290px;
  margin: 0 75px;
}

.blog__page {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin-bottom: 16px;
  margin-top: 24px;
}

.blog__title_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  /* letter-spacing: 1.4px; */
  color: #1f1f1f;
  margin: 12px 0 40px 0;
  padding: 0;
}

.blog__post {
  background: #fff;
  box-sizing: border-box;
  padding: 36px;
  margin-bottom: 24px;
  margin-right: 30px;
  width: 100%;
}

/* slider */
.slider__foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.slider__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
  padding: 10px 0 0 0;
  margin: 0;
}

/* 
слайдер нужно оптимизировать! */
.carousel-container {
  /* width: 80%; */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);

  .carousel {
    /* aspect-ratio: 16/9; */
    width: 100%;
    position: relative;
    overflow: hidden;
    /* margin-top: 23px; */

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &.active {
        opacity: 1;
        display: block;
      }

      @media (max-width: 370px) {
        .slider__img {
          /* width: 320px; */
          height: 274px;
        }
      }
    }
  }

  .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 46%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;
    padding: 0;
    width: 44px;
    height: 44px;

    &:active,
    &:focus {
      transform: translateY(-50%) scale(0.9);
    }

    &:hover {
      transform: translateY(-50%) scale(0.96);
    }
  }

  @media (max-width: 1120px) {
    .btn {
      top: 45%;
      min-width: 34px;
      min-height: 34px;
    }
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }

  @media (max-width: 540px) {
    .btn {
      top: 45%;
    }
    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }
  }
}
/* 
слайдер нужно оптимизировать конец */

.blog__text {
  border-bottom: 1px solid #dfdfdf;
  padding: 32px 0px 32px 0px;
  max-width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 32px;
}

.blog__text_2 {
  padding: 16px 0px;
  max-width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 16px;
}

.blog__text_container {
  border-left: 4px solid #5e43aa;
  padding: 0px 0px 0px 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 32px 0 32px 0;
}

.blog__text-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #757575;
  padding: 0;
  margin: 0;
}

.blog__text_quotes {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 16px;
}

.blog__text_main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1f1f1f;
  padding: 0;
  margin: 64px 0 16px 0;
}

.blog__text_4 {
  padding: 16px 0px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_4_1 {
  padding: 16px 0px;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #191919;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_container_5 {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_5 {
  padding: 6px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #41579e;
  margin: 0;
  list-style-position: inside;
}

.blog__text_5_span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #191919;
  margin: 0 0 0 12px;
  padding: 0;
}

.blog__text_main_2 {
  padding: 32px 0px 16px 0px;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  padding: 16px 0px;
  width: 100%;
  margin: 0;
}

.blog__text_6_span {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #5f43aa;
  margin: 0;
  padding: 0;
}

.blog__text_container_7 {
  padding: 8px 0px 0 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.checkbox__7 {
  width: 22px;
  height: 28px;
}

.blog__text_ul {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 8px;
}

.blog__text_7 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.blog__text_7_span {
  font-weight: 400;
}

.blog__text_8 {
  padding: 32px 0px 16px 0;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #191919;
}

.table {
  overflow: hidden;
  border: 1px solid #e2dde0;
  background: #fefefe;
  width: 100%;
  margin: 16px 0 16px 0;
  border-collapse: collapse;
}

.table__th {
  text-align: start;
  background: #f1eff0;
  border: 1px solid #e2dde0;
  padding: 12px 16px;
  width: 74%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}

.table__th_2 {
  border: 1px solid #e2dde0;
  padding: 12px 16px;
  background: #f1eff0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1f1f1f;
}

.table__td {
  padding: 12px 16px;
  text-align: start;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}

.table__td_2 {
  border: 1px solid #e2dde0;
  padding: 12px 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1f1f1f;
}

.img__flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0px 10px 0;
  overflow: hidden;
}

.image__auto {
  width: 49%;
}

.post__mobile {
  display: none;
}

.post__img {
  width: 7.5px;
  height: 15px;
  margin-bottom: 1px;
  margin-left: 11px;
}

.post__img_open {
  margin-left: 13px;
  width: 16px;
  height: 8px;
}

.post__img_else {
  margin-left: 12px;
}

@media (max-width: 1350px) {
  .breadcrumbs {
    padding: 24px 0 0 0;
  }

  .post__title {
    font-size: 24px;
  }

  .auto__img {
    width: 240px;
    height: 200px;
  }

  .sidebar {
    max-width: 260px;
    min-width: 260px;
    flex-shrink: 0;
  }

  .blog__post {
    max-width: 800px;
    padding: 24px 24px 36px 24px;
    margin-bottom: 16px;
    margin-right: 20px;
  }

  .blog__page {
    justify-content: center;
  }

  .blog__text {
    margin: 0;
    margin-bottom: 32px;
  }

  .blog__text_main {
    margin: 16px 0 0px 0;
  }

  .blog__text_main_2 {
    padding: 16px 0px 0px 0px;
  }

  .table {
    margin: 0px 0 16px 0;
  }

  .slider__foto {
    padding: 16px 0;
  }
}

@media (max-width: 1120px) {
  .main {
    margin: 0 20px;
  }

  .post__title {
    font-size: 20px;
  }

  .auto__img {
    width: 200px;
    height: 160px;
  }

  .blog__post {
    max-width: 600px;
    padding: 16px;
    margin-bottom: 0px;
    margin-right: 15px;
  }

  .blog__title_text {
    font-size: 38px;
    margin: 12px 0 20px 0;
  }

  .blog__text_container {
    padding: 0 0 0 20px;
  }

  /* обратная связь */

  .feedback__title {
    font-size: 30px;
  }

  .feedback__main {
    max-width: 670px;
  }

  .feedback__input {
    padding: 13px 12px;
    font-size: 14px;
    width: 100%;
  }

  .button__input {
    font-size: 19px;
    padding: 14px 50px;
    width: 100%;
  }

  .checkbox_text {
    margin: 24px 0 0 0;
  }

  .feedback__img {
    max-width: 80px;
    max-height: 65px;
  }
}

@media (max-width: 900px) {
  .post__flex {
    padding: 24px;
  }

  .post__category {
    font-size: 16px;
    display: block;
  }

  .post__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1f1f1f;
  }

  .post__subtytle {
    font-size: 18px;
  }

  .post__subtytle_3 {
    font-size: 18px;
  }

  .blog__post {
    max-width: 500px;
    padding: 16px;
  }

  .feedback__title {
    font-size: 24px;
  }

  .feedback__main {
    max-width: 570px;
  }

  .feedback__input {
    padding: 13px 6px;
    font-size: 14px;
    width: 100%;
  }

  .button__input {
    font-size: 16px;
    padding: 14px 31px;
    width: 100%;
  }

  .checkbox_text {
    margin: 24px 0 0 0;
  }

  .feedback__img {
    max-width: 80px;
    max-height: 65px;
  }
}

@media (max-width: 790px) {
  .blog__title_text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
  }

  .main {
    margin: 0;
  }

  .container {
    margin: 0 20px;
  }

  .posts {
    margin: 18px 0 0 0;
  }

  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
  }

  .blog__page {
    display: flex;
    flex-direction: column;
  }

  .blog__post {
    padding: 20px;
    margin-top: 24px;
    margin: 24px auto 0;
    max-width: 100%;
  }

  .feedback__container {
    display: block;
  }

  .input__text_1 {
    margin: 16px 0 0 0;
    padding: 0;
    font-size: 0;
  }

  .feedback__title {
    font-size: 24px;
  }

  .feedback__main {
    max-width: 100%;
    padding: 24px;
    box-sizing: border-box;
  }

  .feedback__input {
    padding: 13px 6px;
    font-size: 14px;
  }

  .feedback__padding {
    margin: 48px 20px;
  }

  .feedback__img {
    max-width: 80px;
    max-height: 65px;
  }

  .button__input {
    font-size: 16px;
    padding: 14px 31px;
  }

  .checkbox_text {
    margin: 24px 0 0 0;
  }

  .sidebar {
    display: none;
  }

  .sidebar__mobile {
    display: flex;
    flex-direction: column;
  }

  .sidebar__ul_mobile {
    margin: 0;
    padding: 0;
  }

  .sidebar__container_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
    max-height: 46px;
    border-bottom: 1px solid #e2dde0;
    transition: transform 0.2s;
    cursor: pointer;
  }

  .sidebar__text_mobile {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #1f1f1f;
    text-decoration: none;
    text-wrap: nowrap;
    margin: 0;
    transition: transform 0.2s;
    cursor: pointer;
    display: block;
  }

  .sidebar__text_subtitle_mobile {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #757575;
    margin: 0;
    padding: 0;
  }

  .sidebar__background_mobile {
    width: 100%;
    background: #5f43aa;
    padding: 16px;
    box-sizing: border-box;
    margin: 12px 0 12px 0;
  }

  .sidebar__img_mobile {
    padding: 0;
    width: 48px;
    height: 48px;
    margin-left: 24px;
  }

  .sidebar__price_mobile {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: #fff;
  }

  .sidebar__button_mobile {
    border: 1px solid #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    background: #5f43aa;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 9.5px 33px;
    margin: 24px 0 0 0px;
    width: 100%;
  }

  .sidebar__title_button {
    border: 1px solid #e2dde0;
    padding: 12px 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #5e43aa;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .sidebar__container_open {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  .sidebar__container_open.open {
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }

  .post__flex {
    padding: 0;
    background: #fff;
    transition: transform 0.2s;
    position: relative;
    align-items: center;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
  }

  .auto__img {
    display: block;
    width: 320px;
    height: 240px;
    margin: 0 auto;
    order: -1;
  }

  .post__subtytle {
    margin: 0 0 20px 0;
  }

  .post__subtytle_3 {
    font-size: 16px;
    max-height: 74px;
  }

  .sidebar__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    max-height: 100%;
    margin-bottom: 32px;
    padding: 32px 0px 32px 0px;
  }

  .blog__text_2 {
    margin-top: 16px;
  }

  .table__th {
    width: 50%;
  }

  .img__flex {
    display: block;
    padding: 16px 0px 0px 0;
  }

  .image__auto {
    width: 100%;
    margin-bottom: 14px;
  }

  .feedback__flex {
    margin: 0;
  }

  .input__container {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .input__container_button {
    max-width: 100%;
  }

  .post__button {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .post__card {
    padding: 16px;
  }

  .breadcrumbs__ul_padding {
    margin: 12px 0 20px 0;
  }

  .blog__padding {
    padding: 0 20px;
  }

  .breadcrumbs__padding {
    margin-left: 20px;
  }
}

@media (max-width: 660px) {
  .feedback__img {
    width: 57px;
    height: 48px;
  }

  .post__button_else {
    margin-bottom: 12px;
  }

  .breadcrumbs__title {
    font-size: 32px;
  }

  .feedback {
    margin-top: 48px;
  }
}

@media (max-width: 540px) {
  .breadcrumbs__title {
    margin-bottom: 23px;
  }

  .sidebar__item {
    margin-bottom: 12px;
  }

  .feedback__main {
    padding: 16px;
  }

  .feedback__container {
    margin-top: 24px;
  }

  .sidebar__button_mobile {
    margin: 24px 0 0 0px;
  }

  .input__text_1 {
    margin: 0;
  }

  .post__mobile {
    display: block;
    margin-top: 18px;
  }

  .post__flex {
    background: #fff;
    transition: transform 0.2s;
    position: relative;
    align-items: center;
    padding-top: 25px;
  }

  .post__subtytle {
    height: 66px;
    font-size: 16px;
  }

  .post__card_3 {
    padding: 16px;
  }
}

@media (max-width: 370px) {
  .slider__foto {
    padding-bottom: 0;
  }

  .post__flex {
    padding: 0;
  }
}

@media (max-width: 360px) {
  .auto__img {
    width: 100%;
  }
}
