@import url(vendor/stylesheet.css);

:root {
  --font-family: "Futura PT", sans-serif;
  --second-family: "Onest", sans-serif;
  --third-family: "Fira Sans Extra Condensed", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "Roboto", sans-serif;
}

.body {
  margin: 0 auto;
  background-color: #f1eff0;
  max-width: 1440px;
  min-width: 360px;
  width: 100%;
  color: #000;
}

.container {
  max-width: 1290px;
  max-height: 2413px;
  margin: 0 auto;
}

.blog__container {
  padding: 24px 0px;
}
.blog__ul {
  max-height: 139px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.blog__index {
  font-family: var(--font-family);
  color: #5e43aa;
  text-decoration: none;
  margin-right: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.blog__name {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #333;
}

.blog__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

/* категории */
.page {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  max-height: 1858px;
}
.category {
  max-width: 300px;
  max-height: 611px;
}

.category__ul {
  margin: 0;
  padding: 0;
}

.category__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
  width: 300px;
  max-height: 46px;
  border-bottom: 1px solid #e2dde0;
  transition: transform 0.2s;
  cursor: pointer;
}

.category__container:hover {
  transform: scale(1.04);
  color: #fff;
  box-shadow: 0 9px 9px rgb(158, 116, 98);
}

.category__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #757575;
  margin: 0 0 16px 0;
}

.category__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  text-decoration: none;
  text-wrap: nowrap;
  margin: 0;
}

.category__text_subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #757575;
  margin: 0;
  padding: 0;
}

.container__background {
  width: 300px;
  height: 343px;
  background: #5f43aa;
  margin-top: 48px;
}

.container__img {
  padding: 0;
  margin: 36px 0 20px 22px;
}

.container__price {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  padding: 0 22px 24px 22px;
}

.container__button {
  border: 1px solid #fff;
  padding: 0px 36px;
  width: 256px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #fff;
  margin: 0 22px 0 22px;
  background: #5f43aa;
  cursor: pointer;
}

/* карточки с блогом */
.posts {
  max-width: 960px;
  background: #fff;
  width: 100%;
  /* max-height: 318px; */
}

.posts__flex {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  background: #fff;
  margin-bottom: 16px;
  transition: transform 0.2s;
}

.posts__flex:hover {
  transform: scale(1.04);
  color: #fff;
  box-shadow: 0 9px 9px rgb(158, 116, 98);
}

.posts__card {
  /* max-width: 590px;
  max-height: 246px; */
}

.posts__category {
  padding: 6px 10px;
  max-width: 105px;
  max-height: 30px;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  background: #fff5d9;
  text-decoration: none;
}

.posts__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1f1f1f;
  margin: 18px 0 12px 0;
  padding: 0;
}

.posts__subtytle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts__subtytle_3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  max-height: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts__card_3 {
  max-width: 888px;
  max-height: 246px;
}
.posts__button {
  border: 1px solid #e2dde0;
  padding: 12px 24px;
  width: 123px;
  height: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #5e43aa;

  cursor: pointer;
}

.posts__img {
  margin-left: 3px;
  margin-top: 2px;
}

.auto__img {
  width: 280px;
  height: 240px;
}

/* кнопка показать еще */
.posts__button_else {
  border: 1px solid #e2dde0;
  padding: 0px 36px;
  width: 960px;
  height: 64px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #5e43aa;
  margin: 0;
  margin-bottom: 24px;
}

/* .posts__img_else {
} */

/* обратная связь */
.feedback {
  height: 320px;
  margin: 48px 0px;
  background: #e6bc46;
}

.feedback__flex {
  display: flex;
  justify-content: space-between;
  width: 784px;
  height: 80px;
  margin: 0 auto;
  padding-top: 48px;
  margin-bottom: 24px;
}
.feedback__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #1f1f1f;
  margin: 0;
}

.feedback__container {
  display: flex;
  justify-content: space-between;
  width: 784px;
  /* height: 74px; */
  margin: 0 auto;
}

.input__container {
  width: 264px;
  height: 74px;
}

.input__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #333;
  margin: 0;
  margin-bottom: 4px;
}

.feedback__input {
  padding: 13px 16px;
  width: 226px;
  /* height: 48px; */
  /* background-color: #fff;
  font-family: var(--font-family); */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
}

.input__required {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
}

.button__input {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 19px;
  line-height: 140%;
  color: #fff;
  /* padding: 0px 36px; */
  width: 223px;
  height: 48px;
  background: #5e43aa;
  border-style: none;
  cursor: pointer;
}

.input__container_button {
  /* padding: 0px 36px; */
  width: 223px;
  height: 48px;
  border-style: none;
}

.checkbox {
  width: 18px;
  height: 18px;
  background: #5f43aa;
  margin: 26px 9px 0 0;
}

.checkbox_text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 24px 65px 0 0;
}

.checkbox_text_color {
  font-weight: 500;
  color: #5e43aa;
}

.main {
  max-width: 1290px;
  height: 4940px;
  margin: 0 auto;
}

.blog__info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

.blog__page {
  display: flex;
  justify-content: space-between;
  width: 1290px;
  max-height: 4452px;
  /* padding: 36px; */
  margin-bottom: 16px;
  margin-top: 24px;
}

.blog__title_text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #1f1f1f;
  margin: 12px 0 40px 0;
  padding: 0;
}

.blog__posts {
  max-width: 960px;
  background: #fff;
  width: 100%;
  /* max-height: 318px; */
  box-sizing: border-box;
  padding: 36px;
}

/* slider */
.slider__flex {
  display: flex;
  justify-content: space-between;
  width: 888px;
  margin-bottom: 16px;
}

.slider__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #757575;
  padding: 10px 0 0 0;
  margin: 0;
}
/* 
слайдер нужно оптимизировать! */

.carousel-container {
  /* width: 80%; */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);

  .carousel {
    /* aspect-ratio: 16/9; */
    width: 100%;
    position: relative;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      /* .caption {
        width: 100%;
        padding: var(--lx-space-01);
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);
      } */

      &.active {
        opacity: 1;
        display: block;
      }
    }
  }

  .btn {
    padding: 1em 2em;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #10100e;
    background-color: #ffffe6;
    transition: transform 0.2s ease-in-out;
    padding: 0;
    width: 44px;
    height: 44px;

    &:active,
    &:focus {
      transform: translateY(-50%) scale(0.9);
    }

    &:hover {
      transform: translateY(-50%) scale(0.96);
    }
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }

  .dots {
    align-items: center;
    justify-content: center;
    gap: 10px;

    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: #242421;
      transition: background-color 0.2s ease;

      &.active,
      &:hover {
        background-color: #ffffe6;
      }
    }
  }
}
/* 
слайдер нужно оптимизировать конец */

.blog__text {
  border-bottom: 1px solid #dfdfdf;
  padding: 32px 0px 32px 0px;
  max-width: 888px;
  max-height: 304px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 32px;
}

.blog__text-2 {
  padding: 16px 0px;
  max-width: 888px;
  max-height: 200px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19.4px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 16px;
}

.blog__text_container {
  border-left: 4px solid #5e43aa;
  padding: 0px 0px 0px 40px;
  width: 888px;
  height: 176px;
  box-sizing: border-box;
  margin: 16px 0 32px 0;
}

.blog__text-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #757575;
  padding: 0;
  margin: 0;
}

.blog__text-3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 16px;
}

.blog__text_main {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #1f1f1f;
  padding: 0;
  margin: 64px 0 16px 0;
}

.blog__text_4 {
  padding: 16px 0px;
  width: 888px;
  height: 116px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_container_5 {
  padding: 16px 0px;
  width: 888px;
  /* height: 136px; */
  box-sizing: border-box;
  margin: 0 0 16px 0;
}

.blog__text_5 {
  padding: 6px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #41579e;
  margin: 0;
}

.blog__text_5_span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #191919;
  margin: 0 0 0 12px;
  padding: 0;
}

.blog__text_main_2 {
  padding: 32px 0px 16px 0px;
  width: 888px;
  height: 77px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #1f1f1f;
  box-sizing: border-box;
  margin: 0;
}

.blog__text_6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  padding: 16px 0px;
  width: 888px;
  margin: 0;
}

.blog__text_6_span {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #5f43aa;
  margin: 0;
  padding: 0;
}

.blog__text_container_7 {
  padding: 8px 0px 0 0;
  width: 888px;
  /* height: 136px; */
  box-sizing: border-box;
  /* margin: 0 0 16px 0; */
  display: flex;
  align-items: flex-start;
}

.checkbox__7 {
  width: 22px;
  height: 28px;
}

.blog__text_7 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}

.blog__text_7_span {
  font-weight: 400;
}

.blog__text_8 {
  padding: 24px 0px 16px 0;
  box-sizing: border-box;
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: justify;
  color: #191919;
}

.table {
  overflow: hidden;
  border: 1px solid #e2dde0;
  background: #fefefe;
  width: 100%;
  margin: 16px 0 16px 0;
  border-collapse: collapse;
}

.table__th {
  text-align: start;

  background: #f1eff0;
  border: 1px solid #e2dde0;
  padding: 12px 16px;
  width: 74%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}

.table__th_2 {
  border: 1px solid #e2dde0;
  padding: 12px 16px;
  background: #f1eff0;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1f1f1f;
}

.table__td {
  padding: 12px 16px;
  text-align: start;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #1f1f1f;
}

.table__td_2 {
  border: 1px solid #e2dde0;
  padding: 12px 16px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #1f1f1f;
}

.img__flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 16px 0px;
}
